* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

header h1 {
    margin: 0;
}

#header-image {
    width: 100px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
}

h2, h3 {
    margin: 10px 0;
}

aside {
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

aside select,
aside input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 1em;
}

aside button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

aside button:hover {
    background-color: #555;
    cursor: pointer;
}

aside input:focus, aside select:focus {
    outline: none;
    transition: border-color 0.3s;
}

.filtro-grupo {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.filtro-grupo label {
    margin-bottom: 5px;
}

.filtro-grupo select {
    padding: 8px;
    width: 100%;
}

.filtro-grupo h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.result-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

aside input:focus, aside select:focus {
    outline: none;
    transition: border-color 0.3s;
}

h2, h3 {
    margin: 10px 0;
}

.carta-personaje, .carta-lugar {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.carta-personaje h2{
    margin-left: 5px;
}

.carta-personaje p{
    color: #222;
    margin-left: 5px;
}

.carta-personaje span{
    margin-left: 5px;
}

.carta-personaje img {
    max-width: 100%;
    border-radius: 8px;
}

.carta-lugar h2{
    text-align: center;
    margin-top: 20px;
}

.carta-lugar p{
    color: #222;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    aside {
        flex-direction: column;
        align-items: flex-start;
    }

    .filtro-grupo {
        width: 100%;
    }

    #results {
        grid-template-columns: 1fr;
    }
}